gguf==0.10.0
tabledata==1.3.4
altair==5.5.0
tokenizers==0.21.0
scipy==1.15.1
tqdm==4.67.1
urllib3==2.2.3
aiohappyeyeballs==2.4.4
responses==0.18.0
art==6.4
memray==1.15.0
chardet==5.2.0
tzdata==2024.2
pydantic_core==2.27.2
typing_extensions==4.12.2
nvidia-ml-py==12.560.30
pluggy==1.5.0
ninja==1.11.1.3
google-crc32c==1.6.0
lark==1.2.2
threadpoolctl==3.5.0
zstandard==0.22.0
distlib==0.3.9
distro==1.9.0
jsonschema-specifications==2024.10.1
langchain==0.3.14
tcolorpy==0.1.7
requests-oauthlib==2.0.0
httpcore==1.0.7
antlr4-python3-runtime==4.13.2
packaging==23.2
filelock==3.16.1
joblib==1.4.2
six==1.17.0
rouge_score==0.1.2
py-cpuinfo==9.0.0
psutil==6.1.1
oauthlib==3.2.2
jsonschema==4.23.0
protobuf==5.29.3
python-dotenv==1.0.1
virtualenv==20.28.1
Markdown==3.7
numba==0.60.0
narwhals==1.21.1
tqdm-multiprocess==0.0.11
gcsfs==2024.9.0.post1
sentencepiece==0.2.0
ray==2.40.0
pytest==8.3.4
jsonpointer==3.0.0
requests-toolbelt==1.0.0
xxhash==3.5.0
smmap==5.0.2
uvloop==0.21.0
opencensus-context==0.1.3
wrapt==1.17.1
frozenlist==1.5.0
lm-format-enforcer==0.10.9
python-dateutil==2.9.0.post0
watchfiles==1.0.4
portalocker==3.1.1
tenacity==9.0.0
diskcache==5.6.3
sacrebleu==2.5.1
opencv-python-headless==4.10.0.84
PySocks==1.7.1
cycler==0.12.1
axolotl-contribs-lgpl==0.0.3
langchain-text-splitters==0.3.5
Pygments==2.19.1
pip==24.2
safetensors==0.5.2
markdown-it-py==3.0.0
optimum==1.16.2
GitPython==3.1.44
decorator==5.1.1
accelerate==1.2.1
msgspec==0.19.0
einops==0.8.0
setuptools==75.1.0
regex==2024.11.6
pycountry==24.6.1
typepy==1.3.4
rich==13.9.4
mdurl==0.1.2
s3fs==2024.9.0
pytz==2024.2
google-cloud-storage==2.19.0
annotated-types==0.7.0
botocore==1.35.93
click==8.1.8
networkx==3.2.1
mbstrdecoder==1.1.3
torchao==0.7.0
sniffio==1.3.1
sentry-sdk==2.19.2
pyasn1_modules==0.4.1
python-multipart==0.0.20
semantic-version==2.10.0
dill==0.3.8
tensorboard==2.18.0
anyio==4.8.0
scikit-learn==1.4.2
iniconfig==2.0.0
orjson==3.10.14
google-cloud-core==2.4.1
xgrammar==0.1.9
pybind11==2.13.6
typing-inspect==0.9.0
schedulefree==1.3
nltk==3.9.1
proto-plus==1.25.0
pydantic-settings==2.7.1
mkl-service==2.4.0
interegular==0.3.3
langsmith==0.2.10
smart-open==7.1.0
sqlitedict==2.1.0
termcolor==2.5.0
mistral_common==1.5.1
multiprocess==0.70.16
aiohttp-cors==0.7.0
peft==0.14.0
kiwisolver==1.4.8
langchain-core==0.3.29
Brotli==1.0.9
pathvalidate==3.2.3
attrs==24.3.0
greenlet==3.1.1
gradio==3.50.2
datasets==3.2.0
pillow==10.4.0
langdetect==1.0.9
grpcio==1.69.0
nest-asyncio==1.6.0
jsonpatch==1.33
pydub==0.25.1
docker-pycreds==0.4.0
addict==2.4.0
airportsdata==20241001
google-auth-oauthlib==1.2.1
MarkupSafe==2.1.3
aiofiles==23.2.1
aiosignal==1.3.2
opencensus==0.11.4
fsspec==2024.9.0
tabulate==0.9.0
linkify-it-py==2.0.3
aiobotocore==2.17.0
jiter==0.8.2
py-spy==0.4.0
torchaudio==2.5.1
httpx==0.28.1
marshmallow==3.25.1
jsonlines==4.0.0
gitdb==4.0.12
liger_kernel==0.5.2
mkl_random==1.2.8
flash-attn==2.7.0.post2
importlib_resources==6.5.2
evaluate==0.4.1
colorful==0.5.6
outlines_core==0.1.26
cloudpickle==3.1.0
msgpack==1.1.0
word2number==1.1
coloredlogs==15.0.1
wheel==0.44.0
httptools==0.6.4
partial-json-parser==0.2.1.1.post5
gradio_client==0.6.1
humanfriendly==10.0
transformers==4.47.1
ffmpy==0.5.0
axolotl==0.6.0
more-itertools==10.5.0
numpy==1.26.4
trl==0.13.0
SQLAlchemy==2.0.37
immutabledict==4.2.0
uc-micro-py==1.0.3
blake3==1.0.1
certifi==2024.12.14
bitsandbytes==0.45.0
charset-normalizer==3.3.2
pyzmq==26.2.0
pyparsing==3.2.1
requests==2.32.3
pyasn1==0.6.1
google-api-core==2.24.0
setproctitle==1.3.4
prometheus_client==0.21.1
fonttools==4.55.3
sympy==1.13.1
referencing==0.35.1
deepspeed-kernels==0.0.1.dev1698255861
uvicorn==0.34.0
hf_transfer==0.1.9
openai==1.59.6
websockets==11.0.3
yarl==1.18.3
idna==3.7
propcache==0.2.1
outlines==0.1.11
lxml==5.3.0
starlette==0.41.3
triton==3.1.0
gmpy2==2.1.2
textual==1.0.0
xformers==0.0.28.post3
lm_eval==0.4.7
astor==0.8.1
matplotlib==3.10.0
fastcore==1.7.28
hjson==3.1.0
torchvision==0.20.1
wandb==0.19.2
zipp==3.21.0
absl-py==2.1.0
prometheus-fastapi-instrumentator==7.0.0
pandas==2.2.3
mypy-extensions==1.0.0
huggingface-hub==0.27.1
pydantic==2.10.5
cmake==3.31.4
importlib_metadata==8.5.0
torch==2.5.1
depyf==0.18.0
pytablewriter==1.2.1
vllm==0.6.6.post1
dataclasses-json==0.6.7
llvmlite==0.43.0
DataProperty==1.1.0
pyarrow==18.1.0
aiohttp==3.11.11
rpds-py==0.22.3
aioitertools==0.12.0
PyYAML==6.0.2
h11==0.14.0
cachetools==5.5.0
Werkzeug==3.1.3
colorama==0.4.6
platformdirs==4.3.6
fastapi==0.115.6
fire==0.7.0
mkl_fft==1.3.11
mpmath==1.3.0
jmespath==1.0.1
numexpr==2.10.2
httpx-sse==0.4.0
mdit-py-plugins==0.4.2
Jinja2==3.1.4
contourpy==1.3.1
compressed-tensors==0.8.1
tensorboard-data-server==0.7.2
rsa==4.9
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
deepspeed==0.16.1
multidict==6.1.0
langchain-community==0.3.14
tiktoken==0.7.0
google-auth==2.37.0
typing_extensions==4.12.2
importlib_resources==6.4.0
jaraco.context==5.3.0
jaraco.collections==5.1.0
inflect==7.3.1
typeguard==4.3.0
wheel==0.43.0
more-itertools==10.3.0
importlib_metadata==8.0.0
packaging==24.1
tomli==2.0.1
zipp==3.19.2
backports.tarfile==1.2.0
platformdirs==4.2.2
jaraco.functools==4.0.1
autocommand==2.2.2
jaraco.text==3.12.1
